h3{
    margin: 40px 0 0;
}

    a{
        color: #000000;
        text-decoration: none;
        font-weight: 400;
        &.active, &:hover{
        color:#0282f9;
    }
}

.preheader{
    height: 15px;
    background-color: #0282f9;
}

.ms_menuheader{
    margin: 0 auto;
    width: 70%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    ul{
        list-style-type: none;
        padding: 0;
        font-family: 'Roboto Condensed', sans-serif;
        
        li{
            display: inline-block;
            margin: 0 10px;
        }
    }
}

.ms_logo{
    height: 80px;
    margin: 15px 0px;
}

.ms_jumbo{
    height: 400px;
    background-color: red;
    /* background-image: url("../../../public/images/jumbotron.jpg");  */
}

.ms_search{
    border: 0;
    border-bottom: 2px solid #0282f9;
    text-align: end;
}